[submodule "LAEDS_II_seminario1"]
	path = LAEDS_II_seminario1
	url = git@github.com:IagorSs/LAEDS_II_seminario1.git
[submodule "LLP_2_Achi"]
	path = LLP_2_Achi
	url = git@github.com:IagorSs/LLP_2_Achi.git
[submodule "LLP_1_micro-pascal"]
	path = LLP_1_micro-pascal
	url = git@github.com:IagorSs/LLP_1_micro-pascal.git
[submodule "LAEDS_II_seminario2"]
	path = LAEDS_II_seminario2
	url = git@github.com:IagorSs/LAEDS_II_seminario2.git
[submodule "cg-tp1"]
	path = cg-tp1
	url = git@github.com:Corean0/cg-tp1.git
[submodule "cg-tp2"]
	path = cg-tp2
	url = git@github.com:Corean0/cg-tp2.git
[submodule "PC2"]
	path = PC2
	url = git@github.com:IagorSs/PC2.git
[submodule "Casino"]
	path = Casino
	url = git@github.com:marcus-zuba/Casino.git
